
.card { 
  margin-bottom: 30px;
}

.card-img-top { 
  height: 200px;
}

.card-footer {
  padding: 0;
  background: #fff;
}

.card-footer button {
  cursor: pointer;
  text-transform: uppercase;
}
.img-yesh{
  width: 110px;
  height: 200px;
  background-size: contain;
}
.img-yesh-dev{
  padding: 12px;
  margin: 0 auto;
  width: 120px;
  height: 200px;
}